* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #282e38; */
    /* color: #adb5bd; */
    overflow-x: hidden;
    font-family: sans-serif;
}

.main-cont { width: 100%;
    display: block;
    float: left; 
}

.header {
    background: #2e97d3; clear: both; width: 100vw; height: 70px; padding: 10px 12px; box-shadow: 1px 5px 30px 3px rgba(0, 0, 0, 0.5);
    box-sizing: border-box; margin-bottom: 20px;
}
.tabs-container .tabs{ background: rgb(40, 44, 49); transition: 0.3s; margin-right: 5px; }
.tabs-container .tabs:hover{ background: rgb(50, 58, 70); }
.tabs-container .tabs:last-child{ margin-right: 0px; }

#heading {
    color: #fff;
    float: left;
    width: 50%;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0px 6px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#switch-theme {
    float: right;
    width: 50%;
    height: 50px;
    display: flex;
    padding-left: 25px;
    justify-content: center;
    align-items: center
}

.current-number-container {  float: left; margin: 0 auto; width: 45%; text-align: center; }
.total-numbers { width: 40%; float: left; padding:15px; margin: 15px;  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5); }

#number-details-heading { font-weight: bold; font-size: 1em; letter-spacing: 0.2px; width: 100%; text-align: center; margin: 8px 0px; }
.moer-details { display: flex; justify-content: center; justify-items: center; flex-wrap: wrap;
    clear: both; width: 100%; height: 100%; padding-top: 2px;
}
.material-icons{ margin: 0px 5px; }
.no-details-left { margin: 10px 0px; width: 100%; }
.footer{
    display: inline-block; justify-content: center; align-items: center; width: 100vw; height: 50px; background: #1c1c1c;
    position: fixed; bottom: 0px;
    left: 0; text-align: center;
}
.footer h5{margin-top: 18px; color: #adadad;}
.site-holder{ height: 100%; display: inline-block;}
.no-details-right { width: 100%; text-align: center; margin: 10px 0px; font-size: 1.4em; font-weight: bold; }

.today-delta {
    height: 30px;
    font-size: 12px;
    /* color: rgb(34, 143, 106); */
    text-align: center;
}

#rate-percent { width: fit-content; text-align: center; margin: 0 auto; padding: 4px; border-radius: 10px; font-size: 12px; }
.progress-bar { width: 100px; margin: 0 auto; }

.state-table-container{ width: 100%; display: inline-block; transform: translateX(30%); max-width: 840px; margin-bottom:100px !important; }

@media(max-width:767px) {
    /*.tabs-container, .main-cont{ display: none !important;}
    html, body, #root, .site-holder{ width:100%; float: left; display: inline-block;}
    .header{ height: 100px;}
    #heading{ width:100%; margin-bottom:10px; }    
    #switch-theme{ margin: 0 auto; float: left; padding-left: 0px; display: inline-block; margin-bottom:20px; }
    .current-number-container{ width: 100%; margin-bottom: 20px; }
    .total-numbers{ width: 100%; margin:0px 0 20px 0; padding:0px; }
    .plot-cont{ width:100%; max-width: 100%;}
    .state-details-cont{ height: auto !important; padding-bottom:0px; width: 100% !important;}
    .state-details .state-det-1{ float: left; }
    .map-container{ width: 100% !important; }
    .header, .footer, .map-container svg{ width: 100%;}
    .footer{ position: relative; }*/
}