.district-data-div,
.district-data-div td {
    width: 100% !important;
}

.internal-table {
    width: 100%;
    float: left;
    text-align: left;
}

.label-div,
.data-div {
    text-align: left;
    width: 100%;
}

.data-div td:nth-child(1) {
    width: 10px !important;
    display: inline-block;
}

.label-div th:nth-child(1) {
    width: 10px !important;
}

.label-div th {
    width: fit-content !important;
    /* padding-left: 20px !important; */
    text-align: left !important;
}

.data-div td {
    width: 130px !important;
    padding-left: 20px !important;
    font-weight: normal !important;
    text-align: left !important;
}

@media (max-width:600px) {
    .data-div td:nth-child(1) {
        width: 10px !important;
    }
    .data-div td {
        width: 170px !important;
    }
}