.world-parent {
    margin-top: -10px;
    display: flex;
    flex-direction: row-reverse;
}

.world-cases {
    width: 50%;
    padding-bottom: 10px;
}

.wc-container {
    width: 95%;
    transform: translateY(15%);
    margin: 0 auto;
}

.last-updated-wc {
    margin-left: 50px;
}

.world-cases-main {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.country-data {
    width: 50%;
}

.world-case-cont {
    width: 37%;
    height: 170px;
    margin: 0px 2px 8px 2px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5)
}

.wc-title {
    height: 30px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 0px;
}

.wc-rate {
    height: 40px;
    padding: 6px 0px;
    text-align: center;
    font-size: 13px;
}

.wc-rate>span {
    height: 20px;
    width: 20px;
    border-radius: 14px;
    padding: 2px 5px;
}

.wc-case-count {
    height: 30px;
    padding: 10px 0px;
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-align: center;
}

.wc-hr {
    height: 30px;
    text-align: center;
    padding: 30px 0px;
}

.wc-hr hr {
    width: 72%;
    margin: 0 auto;
    height: 5px;
    border: none;
    border-radius: 7px;
}

@media(max-width:700px) {
    .world-cases {
        width: 100%;
    }
    .world-parent {
        flex-direction: column;
    }
    .world-case-cont {
        width: 135px;
        height: 150px;
    }
    .world-cases-main {
        margin: 10px auto;
        transform: none;
    }
    .country-data {
        width: 100%;
    }
    .wc-container {
        transform: none;
    }
    .last-updated-wc {
        /* padding-left: 25px; */
        margin-left: 20px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: -5px;
    }
}


/* Compare Countries CSS Start  */

.compare-title {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    padding: 10px;
}

.comp-country-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.comp-country {
    width: 33.3%;
}

.comp-country div:nth-child(1) {
    margin-top: 10px;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
}

.countries-graph-holder {
    margin-bottom: 35px;
    margin-top: 10px;
}

.countries-graphs {
    display: flex;
    flex-wrap: wrap;
    padding: 7px 0px;
    margin: 0 auto;
    width: 99%;
}

.country-graph {
    width: 33%;
    padding: 5px 5px;
}

.country-graph:nth-child(2) {
    border-left: 1px solid rgb(189, 189, 189);
    border-right: 1px solid rgb(189, 189, 189);
}

.comp-dropdown {
    height: 30px;
    outline: none;
    margin-top: 10px;
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.5);
}

.select-country-to-comp {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-country-to-comp {
    border: 0.5px solid rgb(189, 189, 189);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}


/* Compare Countries CSS ENDs  */

@media(max-width:768px) {
    .country-graph {
        width: 100%;
    }
    .country-graph:nth-child(2) {
        border-top: 1px solid rgb(189, 189, 189);
        border-bottom: 1px solid rgb(189, 189, 189);
        border-left: none;
        border-right: none;
    }
    .comp-country {
        width: 100%;
    }
    .sctc2,
    .sctc3 {
        display: none;
    }
}